*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loading-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loading-container .ring:nth-child(1){
    position: relative;
    height: 100px;
    width: 100px;
    margin: -35px;
    margin-top: 40;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid #24ecff;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loading-container .ring:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0  20px #24ecff11,
    0 0  50px #24ecff;
}

.loading-container .ring:nth-child(2){
    position: relative;
    height: 100px;
    width: 100px;
    margin: -35px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid #FE6786;
    animation: animate2 4s linear infinite;
}
@keyframes animate2 {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.loading-container .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FE6786;
    box-shadow: 0 0 0 5px #FE678633,
    0 0 0 10px #FE678622,
    0 0  20px #FE678611,
    0 0  50px #FE6786;
}


.loading-container .ring:nth-child(3){
    position: relative;
    height: 100px;
    width: 100px;
    margin: -35px;
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid #FE8D7B;
    animation: animate3 4s linear infinite;
}
@keyframes animate3 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loading-container .ring:nth-child(3)::before{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #FE8D7B;
    box-shadow: 0 0 0 5px #FE8D7B33,
    0 0 0 10px #FE8D7B22,
    0 0  20px #FE8D7B11,
    0 0  50px #FE8D7B;
}



.loading-container .ring:nth-child(3){
    position: absolute;
    top: -33.66px;
}


.loading-container p{
    position: absolute;
    color: black;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 200;
    letter-spacing: 0.1em;
    top: 80px;
}