*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.service{
    position: relative;
    width: 30%;
    height: 120px;
}
.service-title{
    height: 100%;
    width: 98%;
    position: absolute;
    top:3%;
    left: 1%;
    border-radius: 6px;
    background: white;
    z-index: 5;
}
.service-border {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 50%,
        10% 50%,
        10% 100%,
        0% 100%

    );
    z-index: 4;
}


.service-title::before{
    content: url('service-1.png');
    position: absolute;
    top: 92%;
    left: -6%;
    width: 15px;
    height: 15px;
    
}

.service-title::after{
    content: '';
    position: absolute;
    top: 46%;
    left: 98%;
    margin-left: 2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FE8D7B;
    box-shadow: 0 0 0 5px #FE8D7B33,
    0 0 0 10px #FE8D7B22,
    0 0  20px #FE8D7B11,
    0 0  50px #FE8D7B;
}

@media screen and (max-width: 516px) {
    .service {
      width: 75%;
    }
    .service-title::before{
        left: -9%;
    }
    .service-title::after{
        left: 96%;
    }
  }
